<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>{{ 'http://127.0.0.1:8080/list_prof/' + lst }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        <h2>Список профессий</h2>
        {% set profs = ['инженер-исследователь',
             'пилот',
             'строитель',
             'экзобиолог',
             'врач',
             'инженер по терраформированию',
             'климатолог',
             'специалист по радиационной защите',
             'астрогеолог',
             'гляциолог',
             'инженер жизнеобеспечения',
             'метеоролог',
             'оператор марсохода',
             'киберинженер',
             'штурман',
             'пилот дронов',
             ] %}
        {% if lst == 'ol'%}
            <ol>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
            </ol>
        {% elif lst == 'ul' %}
            <ul>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>!!!ПАРАМЕТР НЕВЕРНЫЙ!!!</h4>
        {% endif %}
    </body>
</html>
